.sos-button {
    background: url('/sos/sos_button.svg') no-repeat;
    background-size: cover;
    --bs-btn-border-color: transparent;
}

.sos-al {
    display: flex;
    flex-direction: row;
}

.sos-calling-message {
    border-radius: 0px 20px 20px 20px;
    background-color: var(--bs-dark);
    color: var(--body-bg);
    margin-left: 2rem;
    padding: 10px;
}

.sos-timer {
    color: var(--bs-dark);
    font-size: 20vw;
}
.sos-col {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
}

.sos-call-col {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sos-112 {
    background: url('/sos/112_profile.svg') no-repeat;
    background-size: contain;
    align-self: center;
    display: flex;
    width: 10rem;
    height: 10rem;
}
.sos-call-top-row {
    height: 40%;
    display: flex;
    flex-direction: row;
    align-items: start;
}
.sos-call-bottom-row {
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.bottom-row-wrapper {
    margin: 20px;
    padding: 60px;
    border-radius: 20px;
    background: rgba(var(--bs-dark-rgb), 0.2);
}
.call-button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra il contenuto orizzontalmente */
    justify-content: center; /* Centra il contenuto verticalmente */
}

.call-button {
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    background-color: var(--bs-primary);
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra orizzontalmente */
    cursor: pointer;
}
.call-button.active {
    background-color: rgba(var(--bs-primary-rgb), 0.7);
}

.end {
    background-color: var(--red);
}

.speaker {
    background: url('/call/speaker.svg') no-repeat center center;
    background-size: contain;
    width: 70%; /* Assicurati che l'immagine occupi tutto lo spazio disponibile */
    height: 70%;
}

.bluetooth {
    background: url('/call/bluetooth.svg') no-repeat center center;
    background-size: contain;
    width: 70%; /* Assicurati che l'immagine occupi tutto lo spazio disponibile */
    height: 70%;
}

.mute {
    background: url('/call/mute.svg') no-repeat center center;
    background-size: contain;
    width: 70%; /* Assicurati che l'immagine occupi tutto lo spazio disponibile */
    height: 70%;
}

.endCall {
    background: url('/call/endCall.svg') no-repeat center center;
    background-size: contain;
    width: 100%; /* Assicurati che l'immagine occupi tutto lo spazio disponibile */
    height: 100%;
}