/* Contenitore principale */
/* .chat-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 100px);
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
} */

/* Contenitore della chat */
.chat-container {
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
  /* flex: 1; */
  /* overflow-y: auto; */
  /* align-content: end; */
  justify-content: end;
  padding: 10px;
}

/* Box messaggi */
.chat-box {
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #aaa transparent;
  height: calc(80vh - 100px);
  /* justify-content: end; */
}

/* Stile scrollbar (per browser moderni) */
.chat-box::-webkit-scrollbar {
  width: 8px;
}

.chat-box::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 4px;
}

/* Messaggi */
.message {
  max-width: 80%;
  padding: 10px;
  border-radius: 8px;
  line-height: 1.4;
  word-wrap: break-word;
  padding-top: 2px;
  padding-bottom: 2px;
  margin: 2px;
}

.user-message {
  align-self: flex-end;
  background-color: #007bff;
  color: white;
  border-radius: 20px 0 20px 20px;
  text-align: left;
}

.bot-message {
  align-self: flex-start;
  background-color: #e9ecef;
  color: #333;
  border-radius: 0 20px 20px 20px;
  text-align: right;
}

.bot-message button {
  padding: 10px 20px;
  margin: 2px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
}

.input-box {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ddd;
  padding-inline: 0px;
}

.input-box input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-right: 10px;
}

.input-box button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}

.input-box button:hover {
  background-color: #0056b3;
}
.al-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: start;
}
.al-container .bottom-row-wrapper {
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  background: rgba(var(--bs-primary-2-rgb), 0.4);
}

.al-wrapper {
	text-align: center;
	padding: 20px;
	height: 80%;
	width: 90%;
	background-color: white;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.al-home-image-container {
  display: flex;
  justify-content: center;
}

.al-home-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.al-home-message {
  background-color: rgba(var(--bs-primary-rgb), 0.2);
  /* color: var(--bs-dark); */
  display: inline-block;
  padding: 10px 20px;
  border-radius: 0px 20px 20px 20px;
  margin-bottom: 20px;
}

.al-home-buttons {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.al-home-button {
  margin: 0 10px;
  padding: 10px;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  align-content: center;
}

.chat {
  background-color: rgba(var(--bs-primary-rgb), 0.85);
}

.call {
  background-color: rgba(var(--bs-primary-2-rgb), 0.85);
}

.icon-wrapper {
  height: 4rem;
  width: 4rem;
  /* background-color: white; */
}

.chat-icon {
  background: url('/call/chat.svg') no-repeat;
  background-size: contain;
}

.call-icon {
  background: url('/call/call.svg') no-repeat;
  background-size: contain;
}

/* .call-inchat-circle {
  position: absolute;
  bottom: 85.5px;
  right: 0px; 
  top: 10px;
  width: 40px;   
  height: 40px;   
  
  background-color: red; 
  border-radius: 20px 0px 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;  
} */

/* .call-inchat-circle icon {
  background: url('/call/call.svg') no-repeat;
  background-size: contain;
  width: 30px; 
  height: 30px; 
} */

.al-dropdown-menu {

}