/* Contenitore principale */
.chat-wrapper {
  background-color: #f8f9fa;
  border-radius: var(--border-radius);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: calc(100% - 2.5rem);
  padding: 10px;
  padding-top: 2.8rem;
  /* flex: 1; */
  /* overflow-y: auto; */
  align-content: end;
  justify-content: space-between;
  padding-bottom: 0px;
}

/* Contenitore della chat */
.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

/* Box messaggi */
.chat-box {
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #aaa transparent;
  font-weight: normal;
  /* height: calc(100% - 20px); */
}

/* Stile scrollbar (per browser moderni) */
.chat-box::-webkit-scrollbar {
  width: 8px;
}

.chat-box::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: var(--border-radius);
}

/* Messaggi */
.message {
  max-width: 85%;
  padding: 10px;
  border-radius: var(--border-radius);
  line-height: 1.4;
  word-wrap: break-word;
  padding-top: 2px;
  padding-bottom: 2px;
  margin: 2px;
  font-size: 18px;
}

.user-message {
  align-self: flex-end;
  background-color: rgba(var(--bs-chat-rgb), 0.8);
  color: white;
  border-radius: var(--border-radius) 0 var(--border-radius) var(--border-radius);
  text-align: left;
}

.bot-message {
  align-self: flex-start;
  background-color: #d4d7ff;
  color: #333;
  border-radius: 0 var(--border-radius) var(--border-radius) var(--border-radius);
  text-align: left;
  margin: 8px;
}
.p-skeleton {
	background-color: #d4d7ff;
	border-radius: var(--border-radius);
}
.p-skeleton::after {
	background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
}
.cutom-speed-dial-icon {
  /* filter: drop-shadow(1px 1px 2px rgba(var(--bs-dark-rgb), 0.5)); */
  position: absolute;
  width: 5rem;
  /* z-index: 999; */
  height: 5rem;
  top: 0;
  left: 4rem;
}

.bot-message button {
  padding: 10px 10px;
  margin: 2px;
  border: none;
  background-color: var(--bs-primary);
  color: #fff;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: 15px;
}
.p-speeddial-action {
  background-color: var(--bs-primary-2);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2), 0 12px 12px rgba(var(--bs-primary-2-rgb), 0.6);;
}
.p-tooltip.p-tooltip-bottom .p-tooltip-arrow{
  border-bottom-color: white;
}
.p-tooltip .p-tooltip-text {
  background-color: white;
  color: var(--bs-dark);
}

.nuova-chat-message {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: var(--bs-secondary);
  border-radius: var(--border-radius);
  /* padding: 10px; */
  max-width: 100%;
  height: cal(font-size);
  margin-top: 20px;
}

.input-box {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ddd;
  padding-inline: 0px;
  position: sticky;
}

.input-box input {
  flex: 1;
  padding: 4px 10px;
  border: 1px solid #ddd;
  border-radius: var(--border-radius);
  margin-right: 10px;
  font-size: 18px;
}

.input-box button {
  padding: 10px 20px;
  border: none;
  background-color: var(--bs-primary);
  color: #fff;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.input-box button:hover {
  background-color: var(--bs-primary);
}
.send-button {
  font-size: 18px;
}

.al-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: start;
}

.al-container .bottom-row-wrapper {
  margin: 20px;
  padding: 20px;
  border-radius: var(--border-radius);
  background: rgba(var(--bs-primary-2-rgb), 0.4);
}

.al-wrapper {
	text-align: center;
	padding: 10px;
	min-height: 80%;
	width: 90%;
	/* background-color: white; */
	border-radius: var(--border-radius);
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
  align-items: center;
}

.al-call-wrapper {
  margin-top: 2rem;
  text-align: center;
  padding: 10px;
  min-height: 90%;
  width: 90%;
  background-color: rgba(var(--bs-call-rgb), 0.2);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
    align-items: center;
}

.al-call-wrapper .call-button.active {
  background-color: rgba(var(--bs-call-rgb), 0.7);
}

.al-home-image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.al-home-image-wrapper {
  display: flex;
  position: relative;
}

.al-home-image {
  width: 12rem;
  height: 12rem;
  /* border-radius: 50%; */
}

.al-home-message {
  background-color: rgba(var(--bs-primary-rgb), 0.2);
  /* color: var(--bs-dark); */
  display: inline-block;
  padding: 10px 20px;
  border-radius: var(--border-radius);
  margin-bottom: 20px;
}

.al-home-buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;

}

.al-home-button {
  margin: 0 10px;
  padding: 10px;
  color: white;
  border-radius: var(--border-radius);
  align-content: center;
  
}

.settings-button {
  position: absolute;
  bottom: 0.5rem;
  right: 0rem;
  height: 3rem;
  width: 3rem;
  background-color: rgba(var(--bs-primary-rgb), 1); /* Colore del pulsante */
  border-radius: 50%; /* Forma rotonda */
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  transition: background-color 0.3s ease, transform 0.3s ease;
  /* filter: drop-shadow(0px 12px 10px rgba(0, 0, 0, 0.3)) drop-shadow(0px 4px 12px rgba(var(--bs-primary-rgb), 0.4)); */
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2), 0 12px 12px rgba(var(--bs-primary-rgb), 0.6);
}

.settings-button i {
  font-size: 2rem; /* Dimensione dell'icona */
  color: white;
}


.chat {
  background-color: rgba(var(--bs-chat-rgb), 0.85);
  /* filter: drop-shadow(0px 12px 10px rgba(0, 0, 0, 0.3)) drop-shadow(0px 12px 12px rgba(var(--bs-primary-rgb), 0.4)); */
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2), 0 12px 12px rgba(var(--bs-chat-rgb), 0.6);
}
.call {
  background-color: rgba(var(--bs-call-rgb), 0.85);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2), 0 12px 12px rgba(var(--bs-call-rgb), 0.6);
}

.icon-wrapper {
  height: 4rem;
  width: 4rem;

}

.chat-icon {
  background: url('/call/chat.svg') no-repeat;
  background-size: contain;

}

.call-icon {
  background: url('/call/call.svg') no-repeat;
  background-size: contain;
}

/* .p-speeddial-opened .p-speeddial-rotate {
  transform: none;
} */

/* distanza tra gli elementi della lista, non include dal bottone iniziale */
.speed-dial .p-speeddial-opened .p-speeddial-item {
  margin-left: 15px;
}

.speed-dial .p-button {
  background: none;
  border: none;
}

/* per modificare le dimensioni del bottone del menu */
.p-speeddial-button.p-button.p-button-icon-only {
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--bs-primary-2);
  position: relative;
  top: 2rem;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2), 0 12px 12px rgba(var(--bs-primary-2-rgb), 0.6);;
}

.message h4 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: normal;
}