@font-face {
  font-family: "Gill Sans Nova";
  src: url("/fonts/GillSansNova-Book.woff") format("woff"),
       url("/fonts/GillSansNova-Book.woff2") format("woff2"),
       url("/fonts/GillSansNova-Bold.woff") format("woff"),
       url("/fonts/GillSansNova-Bold.woff") format("woff"),
       url("/fonts/GillSansNova-SemiBold.woff2") format("woff2"),
       url("/fonts/GillSansNova-SemiBold.woff2") format("woff2"),
       url("/fonts/GillSansNova-Medium.woff2") format("woff2"),
       url("/fonts/GillSansNova-Medium.woff") format("woff"),
}

#root, html, body {
  --body-bg: #f4f2f7;
  --light: #f0bb5f;
  --main: #193b85;
  --red: #ba4058;
  --bs-dark: #2d2144;
  --bs-primary: #264993;
  --bs-secondary: #999999;
  --info: #2c2144;
  --bs-success: #3f9971;
  --bs-warning: #bc8839;
  --bs-danger: #f44336;

  --body-bg-rgb: 244, 242, 247;
  --light-rgb: 240, 187, 95;
  --main-rgb: 25, 59, 133;
  --red-rgb: 186, 64, 88;
  --bs-dark-rgb: 45, 33, 68;
  --bs-primary-rgb: 38, 73, 147;
  --bs-secondary-rgb: 153, 153, 153;
  --info-rgb: 44, 33, 68;
  --bs-success-rgb: 63, 153, 113;
  --bs-warning-rgb: 188, 136, 57;
  --bs-danger-rgb: 244, 67, 54;
  
  font-family: 'Gill Sans Nova', sans-serif;
  max-width: 412px;
  max-height: 915px;
  width: 100%;
  overflow-x: hidden;
  margin: 0 auto;
  text-align: center;
  background-color: var(--body-bg);
}

