@font-face {
  font-family: "Gill Sans Nova";
  src: url("/fonts/GillSansNova-Book.woff") format("woff"),
       url("/fonts/GillSansNova-Book.woff2") format("woff2"),
       url("/fonts/GillSansNova-Bold.woff") format("woff"),
       url("/fonts/GillSansNova-Bold.woff") format("woff"),
       url("/fonts/GillSansNova-SemiBold.woff2") format("woff2"),
       url("/fonts/GillSansNova-SemiBold.woff2") format("woff2"),
       url("/fonts/GillSansNova-Medium.woff2") format("woff2"),
       url("/fonts/GillSansNova-Medium.woff") format("woff"),
}

#root, html, body {
  --indigo-75: rgb(233, 233, 253);
  --bs-white: #f4f2f7;
  --body-bg: var(--indigo-75);
  --red: #ba4058;
  --light-red: #eac6cd;
  --bs-dark: black;
  --bs-primary: var(--indigo-900);
  --bs-primary-light: var(--indigo-200);
  --bs-primary-2: var(--blue-800);
  --bs-primary-light-2: var(--blue-200);
  --bs-secondary: #f8c655;
  --bs-secondary-light: #feeed5;
  --bs-disabled: var(--gray-400);
  --bs-chat: #613b87;
  --bs-chat-light: #cfc4db;
  --bs-call: #314c95;
  --bs-call-light: #adb7d5;
  
  
  --indigo-75-rgb: 233, 233, 253;
  --bs-white-rgb: 244, 242, 247;
  --body-bg-rgb: 233, 233, 253; /* uguale a --indigo-75 */
  --red-rgb: 186, 64, 88;
  --light-red-rgb: 234, 198, 205;
  --bs-dark-rgb: 0, 0, 0;
  --bs-primary-rgb: 33, 41, 122; /* var(--indigo-900) */
  --bs-primary-light-rgb: 173, 189, 238; /* var(--indigo-200) */
  --bs-primary-2-rgb: 26, 44, 104; /* var(--blue-800) */
  --bs-primary-light-2-rgb: 173, 209, 255; /* var(--blue-200) */
  --bs-secondary-rgb: 248, 198, 85;
  --bs-secondary-light-rgb: 254, 238, 213;
  --bs-disabled-rgb: 169, 169, 169; /* var(--gray-400) */
  --bs-chat-rgb: 97, 59, 135;
  --bs-chat-light-rgb: 207, 196, 219;
  --bs-call-rgb: 49, 76, 149;
  --bs-call-light-rgb: 173, 183, 213;


  --border-radius: 12px;
  
  font-family: 'Gill Sans Nova', sans-serif;
  --font-family: 'Gill Sans Nova', sans-serif;
  max-width: 412px;
  /* max-height: 100vh; */
  overflow-y: scroll;
  width: 100%;
  max-height: 100dvh;
  overflow-x: hidden;
  margin: 0 auto;
  /* text-align: center; */
  background-color: var(--body-bg);
}

