@font-face {
  font-family: "Gill Sans Nova";
  src: url("/fonts/GillSansNova-Book.woff") format("woff"),
       url("/fonts/GillSansNova-Book.woff2") format("woff2"),
       url("/fonts/GillSansNova-Bold.woff") format("woff"),
       url("/fonts/GillSansNova-Bold.woff") format("woff"),
       url("/fonts/GillSansNova-SemiBold.woff2") format("woff2"),
       url("/fonts/GillSansNova-SemiBold.woff2") format("woff2"),
       url("/fonts/GillSansNova-Medium.woff2") format("woff2"),
       url("/fonts/GillSansNova-Medium.woff") format("woff"),
}

#root, html, body {
  --bs-white: #f4f2f7;
  --body-bg: #f4f2f7;
  --red: #ba4058;
  --light-red: #fc94ab;
  --bs-dark: #2d2144;
  --bs-primary: #4f51c0;
  --bs-primary-light: #f5f5fe;
  --bs-primary-2: #4f3c74;
  --bs-primary-light-2: #d4d7ff;
  --bs-secondary: #f8c655;
  --bs-secondary-light: #feeed5;
  --bs-disabled: #999999;
  --info: #2c2144;
  --bs-success: #3f9971;
  --bs-warning: #bc8839;
  --bs-danger: #f44336;
  --bs-call: var(--bs-primary-2);
  --bs-chat: var(--bs-primary);
  
  --bs-white-rgb: 244, 242, 247;
  --body-bg-rgb: 244, 242, 247;
  --red-rgb: 186, 64, 88;
  --light-red-rgb: 252, 148, 171;
  --bs-dark-rgb: 45, 33, 68;
  --bs-primary-rgb: 79, 81, 192;
  --bs-primary-light-rgb: 245, 245, 254;
  --bs-primary-2-rgb: 79, 60, 116;
  --bs-primary-light-2-rgb: 212, 215, 255;
  --bs-secondary-rgb: 248, 198, 85;
  --bs-secondary-light-rgb: 254, 238, 213;
  --bs-disabled-rgb: 153, 153, 153;
  --info-rgb: 44, 33, 68;
  --bs-success-rgb: 63, 153, 113;
  --bs-warning-rgb: 188, 136, 57;
  --bs-danger-rgb: 244, 67, 54;
  --bs-call-rgb: var(--bs-primary-2-rgb);
  --bs-chat-rgb: var(--bs-primary-rgb);
  
  font-family: 'Gill Sans Nova', sans-serif;
  max-width: 412px;
  max-height: 101vh;
  overflow-y: scroll;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  margin: 0 auto;
  /* text-align: center; */
  background-color: var(--body-bg);
}

