.settings-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: start;
    background: var(--body-bg);
}
.settings-wrapper {
	padding: 20px;
	height: 80%;
	width: 90%;
	background-color: white;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	/* justify-content: space-evenly; */
}
.settings-drop-down {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.settings-drop {
	width: 70%;
}

ol, ul {
	padding-left: 0rem;
}